/* .account_content:hover + .account_dropdown {
    width: 270px;
    height: 280px;
    background-color: white;

    position: absolute;
    top: 80px;
    z-index: 10;
} */

.account_dropdown {
    width: 270px;
    height: 280px;
    background-color: white;
    box-shadow: rgb(0 0 0 / 18%) 0px 6px 12px 0px;

    position: absolute;
    top: 80px;
    margin-left: -90px;
    z-index: 9;
}

.account_dropdown::before {
    content: "";

    width: 20px;
    height: 20px;
    background-color: white;

    position: absolute;
    margin-top: -10px;
    margin-left: 47%;
    /* transform: translateX(-50%); */
    z-index: 10;

    transform: rotate(45deg);
}
