.account_wrapper{
    width: 180px;
    height: 100px;
    /* background-color: white; */

    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    font-weight: bold;
    font-size: 14px;
}

.account_image{
    width: 32px;
    height: 32px;
}