.cart_wrapper {
    width: 100px;
    height: 100px;
    /* background-color: red; */

    display: flex;
    justify-content: flex-start;
    align-items: center;

    color: white;
    font-size: 14px;
    font-weight: bold;
}

.cart_image{
    width: 32px;
    height: 32px;
}